In [3]:
# https://www.analyticsvidhya.com/articles/python-coding-interview-questions/

### Question 1: Write a Python program to Reverse a String.

In [2]:
def reverse_string(s):
    return s[::-1]

reverse_string("Nikhil Sharma")

'amrahS lihkiN'

In [2]:
def reverse_string(s):

    rev_string = ''
    for char in s:
        rev_string = char + rev_string
        
    return rev_string

reverse_string("Nikhil Sharma")

'amrahS lihkiN'

### Question 2: Write a Python program to Check Palindrome.

In [ ]:
def palindrome_check(s):
    if isinstance(s, int):
        s = str(s)
        
    str_len = len(s)
    
    mid = int(str_len/2)

    first_half = s[:mid]
    second_half = s[mid:]
    second_half_rev = second_half[::-1]
    
    pal_check = True
    for f, s in zip(first_half, second_half_rev):
        if f != s:
            pal_check = False
            break
        
    return pal_check
        
print(palindrome_check(2332))

### Question 3: Write a Python program to Count Vowels in a String.

In [8]:
def count_vowel(s):
    
    vowels = 'aeiou'
    
    count = sum([1 for v in s.lower() if v in vowels])
    
    return count
        
print(count_vowel('Nikhil'))

2

### Question 4: Write a Python program to find Factorial with Recursion.

In [9]:
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n * fact(n-1)
        
        
print(fact(4))

24

In [ ]:
def fact(n):
    if n==0 or n==1:
        return 1
        
    fact = 1
    for x in range(n, 1, -1):
        fact *= x
                
    return fact
        
print(fact(5))

### Question 5: Write a Python program to find Fibonacci Sequence.

In [10]:
def fabonacchi(n):
    
    fab = [0, 1]
    
    for i in range(2, n):
        fab_val = fab[-1] + fab[-2]
        fab.append(fab_val)

    return fab

print(fabonacchi(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### Question 7: Write a Python program to find Anagram Check.

In [11]:
def anagram(s1, s2):
    
    s1 = sorted(s1)
    s2 = sorted(s2)
    
    return s1==s2
    
print(anagram('asdf', 'fdsa'))

True

In [12]:
def anagram(s1, s2):
    
    if len(s1)!=len(s2):
        return False
        
    check2 = [True if char in s2 else False for char in s1]
    
    if False in check2:
        return False
    
    return True
    
print(anagram('asdf', 'fdwa'))

False

### Question 8: Write a Python program to find Prime Numbers.

In [14]:
def prime_check_func(n):
    
    if n <= 1: 
        return False
    
    for x in range(2, int(n/2)+1):
        if n%x==0:
            return False
            
    return True


def find_primes(start, end):
    found_primes = []
    
    for x in range(start, end+1):
        
        prime_check = prime_check_func(x)
        if prime_check is True:
            found_primes.append(x)
            
    return found_primes

prime_numbers = find_primes(start=1, end=100)
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### Question 9: Write a Python program to check for Pangram.
A pangram is a sentence that contains every letter of the alphabet at least once

In [15]:
import string

def check_panagram(s):
    s = s.lower()
    s_unique = set(s)
    s_unique.discard(" ")
    s_unique.difference_update(set(string.punctuation))
    
    if len(s_unique) == 26:
        return True
    else:
        return False
        
    
print(check_panagram("The quick brown fox jumps over the lazy dog"))

True

In [16]:
def check_panagram(s):
    
    check_for = 'abcdefghijklmnopqrstuvwxyz'
    check = True
    
    s = s.lower()
    s_unique = set(s)

    for char in check_for:
        if char not in s_unique:
            check = False
            break
            
    return check

print(check_panagram("The quick brown fox jumps over the lazy dog"))

True

### Question 11: Write a Python program to find the Minimum Element in a List.

In [17]:
def find_min(lis):
    min = float('inf')
    
    for i in lis:
        if i < min:
            min = i
            
    return min
    
    
print(find_min([10, 23, 45, 67, 12, 89, 34, 4, -9]))

-9

### Question 20: Write a Python program to Find the Maximum Difference between Two Elements in a List.

In [18]:
def find_second_largest_element(lis):
    largest = float('-inf')
    second_largest = float('-inf')
    
    for i in lis:
        if i > largest: 
            second_largest = largest
            largest = i
        elif i > second_largest and i != largest:
            second_largest = i
            
    return second_largest
    
    
print(find_second_largest_element([10, 30, 20, 40, 50, 45]))

45

In [19]:
def find_second_largest_element(lis):
    
    return sorted(lis)[-2]
    
    
print(find_second_largest_element([10, 30, 20, 40, 50, 45]))

45

In [20]:
def find_second_largest_element(lis):
    
    return sorted(lis, reverse=True)[1]
    
    
print(find_second_largest_element([10, 30, 20, 40, 50, 45]))

45

### Question 21: Find the longest substring without repeating characters

In [23]:
def longest_unique_substring(s: str) -> str:
    start = 0
    max_len = 0
    used_char = {}
    longest_sub = ""
    
    for i, char in enumerate(s):
        if char in used_char and start <= used_char[char]:
            start = used_char[char] + 1
        else:
            if i - start + 1 > max_len:
                max_len = i - start + 1
                longest_sub = s[start:i+1]
        used_char[char] = i
    return longest_sub

# Example usage:
input_str = "abcabcbbbbbasdfgh"
print("Longest substring without repeating characters:",
      longest_unique_substring(input_str))

Longest substring without repeating characters: basdfgh

1. Maximum Sum Subarray of Size k  
Given an array of integers and a number k, find the maximum sum of any contiguous subarray of size k.

2. Longest Substring with At Most k Distinct Characters  
Given a string and an integer k, find the longest substring that contains at most k distinct characters.

3. Minimum Window Substring  
Given two strings s and t, find the smallest substring in s that contains all the characters in t.

In [1]:
def max_repeating(sequence: str, word: str) -> int:
    # TODO: implement
 
    count = 0
    max_seq_count = 0
 
    i = 0
    while i <= len(sequence):
      # print(i)
      if word==sequence[i:len(word)+i]:
        count +=1
        i += len(word)
        max_seq_count = max(count, max_seq_count)
 
      else:
        i += 1
        count = 0
 
    return max_seq_count
 
    # return 0
 
max_repeating('abdfaababidiaoab', 'ab')

2

In [ ]:
test_array = [-2, -3, 4, -1, -2, 1, 5, -3]
n = 3 # window
 
# find second max sum in a sliding window over the list, return(second max sum, its elements)
# return n-th largest number form an array

### Question 22: Pandas
- A dataframe has 2 columns i.e. "col1" and "col2" and 50 rows
- Column "col1" has values like 1,2,3,4...
- Column "col2" has values like 11,22,33,44

Question: Square the values in column "col1" if for the same row the value in column "col2" is a prime number.

In [ ]:
# - A dataframe has 2 columns i.e. "col1" and "col2" and 50 rows
# - Column "col1" has values like 1,2,3,4...
# - Column "col2" has values like 11,22,33,44

# Question: Square the values in column "col1" if for the same row the value in column "col2" is a prime number.
import pandas as pd

df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 5],
    'col2': [11, 13, 33, 43, 55]
})

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def square_if_prime(row):
    if is_prime(row['col2']):
        return row['col1'] ** 2
    else:
        return row['col1']
    
df['col1'] = df.apply(square_if_prime, axis=1)
df

   col1  col2
0     1    11
1     4    13
2     3    33
3    16    43
4     5    55

In [ ]:
# - A dataframe has 2 columns i.e. "col1" and "col2" and 50 rows
# - Column "col1" has values like 1,2,3,4...
# - Column "col2" has values like 11,22,33,44

# Question: Square the values in column "col1" if for the same row the value in column "col2" is a prime number, without using extra function.

import pandas as pd
import numpy as np
df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 5],
    'col2': [11, 13, 33, 43, 55]
})

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

df['col1'] = np.where(df['col2'].apply(is_prime), df['col1'] ** 2, df['col1'])
df

   col1  col2
0     1    11
1     4    13
2     3    33
3    16    43
4     5    55

In [ ]:
# - A dataframe has 2 columns i.e. "col1" and "col2" and 50 rows
# - Column "col1" has values like 1,2,3,4...
# - Column "col2" has values like 11,22,33,44

# Question: Square the values in column "col1" if for the same row the value in column "col2" is a even number.
import pandas as pd

df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 5],
    'col2': [11, 12, 33, 44, 55]
})

def is_even(n):
    return n % 2 == 0

def square_if_even(row):
    if is_even(row['col2']):
        return row['col1'] ** 2
    else:
        return row['col1']
    
df['col1'] = df.apply(square_if_even, axis=1)
df

   col1  col2
0     1    11
1     4    12
2     3    33
3    16    44
4     5    55

In [ ]:
# - A dataframe has 2 columns i.e. "col1" and "col2" and 50 rows
# - Column "col1" has values like 1,2,3,4...
# - Column "col2" has values like 11,22,33,44

# Question: Square the values in column "col1" if for the same row the value in column "col2" is greater than 10.
import pandas as pd

df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 5],
    'col2': [11, 12, 33, 44, 55]
})

def is_greater_than_10(n):
    return n > 10

def square_if_greater_than_10(row):
    if is_greater_than_10(row['col2']):
        return row['col1'] ** 2
    else:
        return row['col1']
    
df['col1'] = df.apply(square_if_greater_than_10, axis=1)
df

   col1  col2
0     1    11
1     4    12
2     9    33
3    16    44
4    25    55

In [ ]:
# - A dataframe has 2 columns i.e. "col1" and "col2" and 50 rows
# - Column "col1" has values like 1,2,3,4...
# - Column "col2" has values like 11,22,33,44

# Question: Square the values in column "col1" if for the same row the value in column "col2" is greater than 10, without using extra function.

import pandas as pd
df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 5],
    'col2': [11, 12, 33, 44, 55]
})

df['col1'] = df.apply(lambda row: row['col1'] ** 2 if row['col2'] > 10 else row['col1'], axis=1)
df

   col1  col2
0     1    11
1     4    12
2     9    33
3    16    44
4    25    55